* {
  margin: 0px;
}

.index-banner-2 {
  align-items: center;
}
.title-2 {
  font-size: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-left: 2vh;
}

.button-3 {
  padding: 9px 12px;
  background-color: rgb(255, 0, 0);
  border: none;
  margin-bottom: 2vh;
  font-size: 20px;
  color: white;
  margin-left: 15vh;
  margin-top: 2vh;
}

.float {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 35%;
  left: 35%;
  right: 10%;
  border-radius: 60px;
  width: 500px;
  height: 500px;
}
.type {
  padding-top: 30%;
  padding-left: 20%;
  align-items: center;
}

.index-banner-2 {
  background-image: url("../../../src/pics/Office.jpg");
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400%;
  background-attachment: fixed;
  height: calc(110vh - 80px);
  margin-top: -20vh;
  padding-top: 20vh;
  padding-left: 20vh;
}

.error-2 {
  position: relative;
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

label {
  z-index: 999;
}

@media only screen and (max-width: 800px) {
  .index-banner-2 {
    background-image: none;
  }

  .float {
    padding-left: 0vh;
    margin-left: 0;
  }

  .title-2 {
    position: relative;
    margin-bottom: 3vh;
  }

  .button-3 {
    position: relative;
    display: grid;
    margin: auto;
    margin-left: 4vh;
    margin-top: 3vh;
  }

  .error-2 {
    position: relative;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }
}
